<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Client</h1>
    <a href= <%= `/dashboard/client/${user.email}` %> >Profile</a>
    <a href= <%= `/stadium/showAll/${user.email}` %> >Stadiums</a>
</body>
</html>